.TodoItem {
  .text {
    cursor: pointer;
  }

  &.done {
    .text {
      color: #999999;
      text-decoration: line-through;
    }
  }

  .remove {
    color: red;
    margin-left: 4px;
    cursor: pointer;
  }
}